/* Variables */

$color_body: #121212;
$color_primario: #bb86fc;
$color_error: #cf6679;
$color_light: #ffffff;

/* Body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    #body {
        height: 100vh;
        background-color: $color_body;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        .contenedor {
            height: 600px; width: 400px;
            margin: 0 auto;
            max-width: 80%;
            .perfil {
                .fecha_container {
                    background-color: $color_light;
                    border-radius: 15px;
                    margin: 50px 0 15px 0;
                    .fecha {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        #ciudad {
                            color: $color_body;
                        }
                        #grados {
                            color: $color_body;
                        }
                    }
                }
                h1 {
                    color: $color_light;
                }
                span {
                    color: $color_light;
                }
            }
            .agregar_tarea {
                background-color: $color_light;
                border-radius: 15px;
                height: 70px;
                display: flex;
                align-items: center;
                padding: 10px;
                gap: 10px;
                margin: 40px 0;
                input {
                    height: 100%; width: 100%;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    background-color: $color_light;
                    padding-left: 10px;
                    &::placeholder {
                        font-size: 1.1rem;
                        background-color: $color_light;
                        color: $color_body;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:active {
                        outline: none;
                    }
                }
                i {
                    font-size: 50px;
                    color: $color_body;
                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
            }
            .seccion_tareas {
                h3 {
                    color: $color_light;
                    margin-bottom: 20px;
                }
                #lista {
                    padding: 0;
                    li {
                        background-color: $color_body;
                        border-radius: 15px;
                        border: 2px solid #ffffff;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px 0;
                        color: $color_light;
                        i {
                            font-size: 25px;
                            &:hover {
                                cursor: pointer;
                                color: $color_primario;
                            }
                        }
                        .subrayado {
                            text-decoration: line-through;
                            color: $color_primario;
                        }
                        .borrar {
                            &:hover {
                                color: $color_error;
                            }
                        }
                        .text {
                            font-size: 1.2rem;
                            margin: 0;
                        }
                        .bi-check-circle {
                            color: $color_primario;
                        }
                    }
                }
            }
        }
    }
}